<section class="container" id="description">
  <div class="row">
    <h1 class="title">Mount Kinabalu Climb</h1>
  </div>
  <div class="row" id="information">
    <div class="col col-lg-2">
      <i class="ion-android-pin"></i>
      <span>Sabah, Malaysia</span>
    </div>
    <div class="col col-lg-2">
      <i class="far fa-clock"></i>
      <span>2 - 3 days</span>
    </div>
    <div class="col col-lg-2">
      <i class="fas fa-dumbbell"></i>
      <span>Beginners to Advanced</span>
      <i class="far fa-question-circle"></i>
    </div>
    <div class="col col-lg-2">
      <i class="fas fa-dollar-sign"></i>
      <span>US$356 ~ $650</span>
    </div>
  </div>
  <div class="row" id="summary">
    <p>A climb up the famed UNESCO World Heritage site of Mt Kinabalu takes you through several dramatically different landscapes over the course of 24 hours. Dense Borneo rainforest gives way to an enchanted bonsai-like forest, to zen-rock garden and finally to the dramatic moonscape at the summit where it feels like you are walking on the surface of the moon. Kinabalu Park is stunning in its bio-diversity (look out for the carnivorous pitcher plants on the way up!) and it is also a very accessible climb, suited for beginners and more advanced hikers alike.</p>
  </div>
  <div class="row" id="recommendations">
    <p>Best time to visit:</p>
    <p>October / March. Avoid monsoon season from November - February</p>
  </div>
</section>