<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-2">
        <h6 class="section-header">DESTINATIONS</h6>
        <ul>
          <li>Malaysia</li>
          <li>Indonesia</li>
          <li>Sri Lanka</li>
          <li>Vietnam</li>
          <li>View all destinations</li>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-4">
        <h6 class="section-header">EXPLORE ADVENTURES</h6>
        <div class="double-column">
          <ul>
            <li>Diving</li>
            <li>Hiking</li>
            <li>Wildlife</li>
            <li>Diving</li>
            <li>Culture</li>
          </ul>
        </div>
        <div class="double-column">
          <ul>
            <li>Bucket Lists</li>
            <li>Off-the-beaten tracks</li>            
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-lg-2">
        <h6 class="section-header">SEEK SOPHIE</h6>
        <ul>
          <li>Who we are</li>
          <li>Magazine</li>
          <li>Personal travel Stylist</li>
          <li>Contact us</li>          
        </ul>
      </div>
      <div class="col-sm-12 col-lg-4">
        <img src="https://d18sx48tl6nre5.cloudfront.net/assets/scroll-a9d8f37f2ca7b8ac37a129833978c7b5e76d29b246eaa2da86512e5d0859eab8.svg" alt="">
        <div id="sign_up">
          <h6 class="section-header">STAY UPDATED</h6>
          <p>Get amazing travel inspirations, tips and latest deals delivered to your inbox</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your email here" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">SIGN UP</button>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-ms-12 col-lg-12">
      <p id="copyright">© Seek Sophie 2019 Privacy Policy Terms of use</p>
    </div>
  </div>
</footer>