<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-lg-2"></div>
    <div class="col-sm-12 col-lg-5">
      <h6>WHAT'S INCLUDED</h6>
      <div class="row item">
        <div class="col-1">
          <i class="fas fa-bed"></i>                        
        </div>
        <div class="col-10">
          <span>1 night dormitory accommodation at Laban Rata Resthouse</span>
        </div>
      </div>
      <div class="row item">
        <div class="col-1">
          <i class="fas fa-truck"></i>                        
        </div>
        <div class="col-10">
          <span>Pick up at your hotel in Kota Kinabalu town at 6am on the activity start date and drop-off at 5pm on the following day at your hotel.</span>
        </div>
      </div>
      <div class="row item">
        <div class="col-1">
          <i class="fas fa-utensils"></i>
        </div>
        <div class="col-10">
          <span>Meals provided</span>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3 extras">
      <h6>EXTRAS</h6>
      <ul>
        <li class="item">            
          <p><i class="ion-ios-checkmark-empty"></i> Entrance fees</p>
        </li>
        <li class="item">            
          <p><i class="ion-ios-checkmark-empty"></i>Insurance</p>
        </li>
        <li class="item">
          <p><i class="ion-ios-checkmark-empty"></i>State park guide</p>
        </li>
        <li class="item">
          <p><i class="ion-ios-checkmark-empty"></i>Climbing permit</p>
        </li>
        <li class="item">
          <p><i class="ion-ios-checkmark-empty"></i>Certificate of complation</p>
        </li>
      </ul>                    
    </div>
    <div class="col-sm-12 col-lg-2">
      <button class="details">VIEW DETAILS</button>
    </div>
  </div>
</div>