<div id="packages">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">3 DAYS REGULAR DESCENT</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">2 DAYS REGULAR DESCENT</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">2 DAYS WALK THE TORG</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">2 DAYS LOW'S PEAK</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
      <%= render 'partials/package' %>
    </div>
    <div class="tab-pane fade" id="tab-2" role="tabpanel">
      <%= render 'partials/package' %>
    </div>
    <div class="tab-pane fade" id="tab-3" role="tabpanel">
      <%= render 'partials/package' %>
    </div>
    <div class="tab-pane fade" id="tab-4" role="tabpanel">
      <%= render 'partials/package' %>
    </div>
  </div>
</div>