<section id="questions">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-8">
        <h5>FREQUENTLY ASKED QUESTIONS</h5>
        <div class="accordion" id="questionsAccordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <p>Do I need a guide?</p>
              <button class="btn btn-link questions-collapse-button" type="button" data-toggle="collapse" data-target="#collapseAndswerOne" aria-expanded="true" aria-controls="collapseAndswerOne"><i class="ion-ios-plus-empty"></i></button>
            </div>
            <div id="collapseAndswerOne" class="collapse show" aria-labelledby="headingOne" data-parent="#questionsAccordion">
              <div class="card-body">
                The Sabah State Park assigns the official guide who will accompany you up Mt Kinabalu, so the guide is not provided by the provider you choose to book through. But it's a good idea to book a local company to do all the logistical work such as obtaining permits, booking accommodation and arranging transportation as it will save you the headache of doing it on your own.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <p>Do I need a guide?</p>
              <button class="btn btn-link questions-collapse-button" type="button" data-toggle="collapse" data-target="#collapseAnswerTwo" aria-expanded="true" aria-controls="collapseAnswerTwo"><i class="ion-ios-plus-empty"></i></button>
            </div>
            <div id="collapseAnswerTwo" class="collapse" aria-labelledby="headingOne" data-parent="#questionsAccordion">
              <div class="card-body">
                The Sabah State Park assigns the official guide who will accompany you up Mt Kinabalu, so the guide is not provided by the provider you choose to book through. But it's a good idea to book a local company to do all the logistical work such as obtaining permits, booking accommodation and arranging transportation as it will save you the headache of doing it on your own.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <p>Do I need a guide?</p>
              <button class="btn btn-link questions-collapse-button" type="button" data-toggle="collapse" data-target="#collapseAnswerThree" aria-expanded="true" aria-controls="collapseAnswerThree"><i class="ion-ios-plus-empty"></i></button>
            </div>
            <div id="collapseAnswerThree" class="collapse" aria-labelledby="headingOne" data-parent="#questionsAccordion">
              <div class="card-body">
                The Sabah State Park assigns the official guide who will accompany you up Mt Kinabalu, so the guide is not provided by the provider you choose to book through. But it's a good idea to book a local company to do all the logistical work such as obtaining permits, booking accommodation and arranging transportation as it will save you the headache of doing it on your own.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <p>Do I need a guide?</p>
              <button class="btn btn-link questions-collapse-button" type="button" data-toggle="collapse" data-target="#Four" aria-expanded="true" aria-controls="Four"><i class="ion-ios-plus-empty"></i></button>
            </div>
            <div id="Four" class="collapse" aria-labelledby="headingOne" data-parent="#questionsAccordion">
              <div class="card-body">
                The Sabah State Park assigns the official guide who will accompany you up Mt Kinabalu, so the guide is not provided by the provider you choose to book through. But it's a good idea to book a local company to do all the logistical work such as obtaining permits, booking accommodation and arranging transportation as it will save you the headache of doing it on your own.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <p>Do I need a guide?</p>
              <button class="btn btn-link questions-collapse-button" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive"><i class="ion-ios-plus-empty"></i></button>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#questionsAccordion">
              <div class="card-body">
                The Sabah State Park assigns the official guide who will accompany you up Mt Kinabalu, so the guide is not provided by the provider you choose to book through. But it's a good idea to book a local company to do all the logistical work such as obtaining permits, booking accommodation and arranging transportation as it will save you the headache of doing it on your own.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <p>Do I need a guide?</p>
              <button class="btn btn-link questions-collapse-button" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix"><i class="ion-ios-plus-empty"></i></button>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#questionsAccordion">
              <div class="card-body">
                The Sabah State Park assigns the official guide who will accompany you up Mt Kinabalu, so the guide is not provided by the provider you choose to book through. But it's a good idea to book a local company to do all the logistical work such as obtaining permits, booking accommodation and arranging transportation as it will save you the headache of doing it on your own.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div id="reviewsCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#reviewsCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#reviewsCarousel" data-slide-to="1"></li>
            <li data-target="#reviewsCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h5>WHAT OTHER TRAVELLER SAY</h5>
              <p>"Booked through Seek Sophie - very responsive rep Mr Jacks Lee. Assigned mountain guides were professional n experience...encourage my fellow team mates along the way. We trained for almost half a year...still is a tough climb, but we gain a lot from it</p>
              <p class="user">- John and Melanie, Apr 2019</p>
            </div>
            <div class="carousel-item">
              <h5>WHAT OTHER TRAVELLER SAY</h5>
              <p>"Booked through Seek Sophie - very responsive rep Mr Jacks Lee. Assigned mountain guides were professional n experience...encourage my fellow team mates along the way. We trained for almost half a year...still is a tough climb, but we gain a lot from it</p>
              <p class="user">- John and Melanie, Apr 2019</p>
            </div>
            <div class="carousel-item">
              <h5>WHAT OTHER TRAVELLER SAY</h5>
              <p>"Booked through Seek Sophie - very responsive rep Mr Jacks Lee. Assigned mountain guides were professional n experience...encourage my fellow team mates along the way. We trained for almost half a year...still is a tough climb, but we gain a lot from it</p>
              <p class="user">- John and Melanie, Apr 2019</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>